
/* Position text in the middle */
.middle {
  position: absolute;
  color: beige;
  top: 70%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: beige;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}

button {
  margin-right: 5px; /* For spacing between buttons */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;  /* Prevents text from wrapping */
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown-button {
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


